.header {
    font-size: 40px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color: #89bc85;
}

.textarea {
    width: 70%;
    max-width: 70%;
    height: 200px;
    margin: 20px 15%;
    border: 2px solid black;
}

.keyboard {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.footer {
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
}